@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700;800;900&family=Open+Sans&family=Poppins:wght@300;400&display=swap");

@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");


 body {
	background-color: #FBF8F1;
	color: black;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6;
	margin:0px;
	text-align :center;
 }


h1, h2, h3 {
	font-weight: bold;
	text-align: center;
}

h1 {
	color: white;
	font-size: 32px;
	font-family: 'Kumbh Sans', sans-serif;
}


h2{
	color: #0074AF;
	font-size: 24px;
	font-family: 'Kumbh Sans', sans-serif;
	font-weight: lighter;
}

h3{
	color: #0074AF;
	font-size: 21px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

 a{
 	text-decoration: none;
 	font-family: 'Open Sans', sans-serif;
 }